apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  name: user-management
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-management
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: user-management
    spec:
      containers:
      - env:
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /etc/GOOGLE_APPLICATION_CREDENTIALS/gcloud-service-key.json
        - name: EVENT_STORE_BROKER_TYPE
          value: PUBSUB
        - name: EVENT_STORE_BROKER_EVENTS_TOPIC
          value: events
        - name: EVENT_STORE_STORE_TYPE
          value: MONGO
        - name: EVENT_STORE_STORE_URL
          valueFrom:
            secretKeyRef:
              key: usrl
              name: dbevents-user
        - name: EVENT_STORE_STORE_AGGREGATES_DB_NAME
          value: Aggregates
        - name: EVENT_STORE_STORE_EVENTSTORE_DB_NAME
          value: EventStore
        - name: MONGODB_URL
          value: mongodb://user-mgmt-mongo:27017
        - name: MONGODB_DB_NAME
          value: user-management
        - name: JWT_PUBLIC_KEY
          valueFrom:
            configMapKeyRef:
              key: jwt_public_key
              name: keycloak-jwt-public-key
        - name: gateway_REPLIES_TOPIC_SUBSCRIPTION
          value: emi-gateway-replies-topic-mbe-user-management
        - name: REPLY_TIMEOUT
          value: "2000"
        - name: BROKER_TYPE
          value: PUBSUB
        - name: LOCKVERSION
          value: initial_lock
        - name: KEYCLOAK_BACKEND_BASE_URL
          valueFrom:
            configMapKeyRef:
              key: keycloak-backend-base-url
              name: environment-variables
        - name: KEYCLOAK_BACKEND_USER
          valueFrom:
            secretKeyRef:
              key: keycloak_backend_user
              name: keycloak
        - name: KEYCLOAK_BACKEND_PASSWORD
          valueFrom:
            secretKeyRef:
              key: keycloak_backend_password
              name: keycloak
        - name: USER_ROLES_ALLOW_TO_ASSIGN
          value: '{"BUSINESS-ADMIN": ["ROLE_ADMIN", "LICENSE_PLATE_WRITE", "BUSINESS-OWNER",
            "OPERATOR", "COORDINATOR", "DISCIPLINARY-COMMITTEE", "OPERATION-SUPERVISOR",
            "POS", "POI"], "BUSINESS-OWNER": ["BUSINESS-OWNER", "OPERATOR", "COORDINATOR",
            "DISCIPLINARY-COMMITTEE", "OPERATION-SUPERVISOR", "POS", "POI"], "PLATFORM-ADMIN":
            ["ROLE_ADMIN", "LICENSE_PLATE_WRITE", "PLATFORM-ADMIN", "BUSINESS-OWNER",
            "OPERATOR", "COORDINATOR", "DISCIPLINARY-COMMITTEE", "OPERATION-SUPERVISOR",
            "POS", "POI"]}'
        - name: ROLE_FIRST_USER_ASSIGN
          value: '{"roles": ["BUSINESS-OWNER"]}'
        - name: KEYCLOAK_BACKEND_CLIENT_ID
          value: admin-cli
        - name: KEYCLOAK_BACKEND_REALM_NAME
          value: TPI
        image: nebulaetpiprod/user-management.backend.user-management:0.0.30
        imagePullPolicy: IfNotPresent
        name: user-management
        resources:
          requests:
            cpu: 50m
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/GOOGLE_APPLICATION_CREDENTIALS
          name: google-application-credentials
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: google-application-credentials
        secret:
          defaultMode: 420
          secretName: google-application-credentials
      - name: dbevents-user
        secret:
          defaultMode: 420
          secretName: dbevents-user
