apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-management
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-management
  template:
    metadata:
      labels:
        app: user-management
    spec:      
      containers:
      - image: IMAGE_NAMESPACE/IMAGE_NAME:IMAGE_TAG
        name: user-management
        volumeMounts:
        - name: google-application-credentials
          mountPath: "/etc/GOOGLE_APPLICATION_CREDENTIALS"
          readOnly: true
        resources:
          requests:
            cpu: "50m"
        env:     
        # EVENT STORE CONFIG 
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /etc/GOOGLE_APPLICATION_CREDENTIALS/gcloud-service-key.json  
        - name: EVENT_STORE_BROKER_TYPE
          value: PUBSUB
        - name: EVENT_STORE_BROKER_EVENTS_TOPIC
          value: events
        - name: EVENT_STORE_STORE_TYPE
          value: MONGO
        - name: EVENT_STORE_STORE_URL
          value: mongodb://dbevents-0.dbevents:27017,dbevents-1.dbevents:27017,dbevents-2.dbevents:27017/test?replicaSet=rs0
        - name: EVENT_STORE_STORE_AGGREGATES_DB_NAME
          value: Aggregates
        - name: EVENT_STORE_STORE_EVENTSTORE_DB_NAME
          value: EventStore
        # INTERNAL MONGO DB CONFIG
        - name: MONGODB_URL
          value: mongodb://user-mgmt-mongo:27017
        - name: MONGODB_DB_NAME
          value: user-management
        # JWT CONGIF        
        - name: JWT_PUBLIC_KEY
          valueFrom:
            configMapKeyRef:
              name: keycloak-jwt-public-key
              key: jwt_public_key
        # API - gateway CONFIG
        - name: gateway_REPLIES_TOPIC_SUBSCRIPTION
          value: emi-gateway-replies-topic-mbe-user-management
        - name: REPLY_TIMEOUT
          value: '2000'
        - name: BROKER_TYPE
          value: PUBSUB        
        # RESET LOCK INITIALIZE BACKED
        - name: LOCKVERSION
          value: "initial_lock"
        # KEYCLOAK BACKEND
        - name: KEYCLOAK_BACKEND_BASE_URL
          valueFrom:
            configMapKeyRef:
              name: environment-variables
              key: keycloak-backend-base-url
        - name: KEYCLOAK_BACKEND_USER
          valueFrom:
            secretKeyRef:
              name: keycloak
              key: keycloak_backend_user
        - name: KEYCLOAK_BACKEND_PASSWORD
          valueFrom:
            secretKeyRef:
              name: keycloak
              key: keycloak_backend_password
        - name: USER_ROLES_ALLOW_TO_ASSIGN
          value: '{"BUSINESS-ADMIN": ["ROLE_ADMIN", "LICENSE_PLATE_WRITE", "BUSINESS-OWNER", "OPERATOR", "COORDINATOR", "DISCIPLINARY-COMMITTEE", "OPERATION-SUPERVISOR", "POS", "POI"], "BUSINESS-OWNER": ["BUSINESS-OWNER", "OPERATOR", "COORDINATOR", "DISCIPLINARY-COMMITTEE", "OPERATION-SUPERVISOR", "POS", "POI"], "PLATFORM-ADMIN": ["ROLE_ADMIN", "LICENSE_PLATE_WRITE", "PLATFORM-ADMIN", "BUSINESS-OWNER", "OPERATOR", "COORDINATOR", "DISCIPLINARY-COMMITTEE", "OPERATION-SUPERVISOR", "POS", "POI"]}'
        - name: ROLE_FIRST_USER_ASSIGN
          value: '{"roles": ["BUSINESS-OWNER"]}'
        - name: KEYCLOAK_BACKEND_CLIENT_ID
          value: "admin-cli"
        - name: KEYCLOAK_BACKEND_REALM_NAME
          value: "TPI"        
      volumes:
      - name: google-application-credentials
        secret:
          secretName: google-application-credentials
      
